doctype html
html( ng-app="myApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    meta(charset='utf-8') 
    script( src="/bower_components/angular/angular.js")
    script( src="/bower_components/angular-route/angular-route.js") 
    block content